<form action="/waiters/{{waiterName}}" method="post">

  <div class="waiters-page">
    <h2>Welcome to the Roster App</h2>

    <table>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>

      <tbody>
        <tr>
          <td>
            <label for="Monday">
              <input
                type="checkbox"
                name="weekDay"
                value="monday"
                class="checkBox"
                {{checkBox}}
              />
            </label>
          </td>

          <td>
            <label for="Tuesday">
              <input
                type="checkbox"
                name="weekDay"
                value="tuesday"
                class="checkBox"
                {{checkBox}}
              />
            </label>
          </td>

          <td>
            <label for="Wednesday">
              <input
                type="checkbox"
                name="weekDay"
                value="wednesday"
                class="checkBox"
                {{checkBox}}
              />
            </label>
          </td>

          <td>
            <label for="Thursday">
              <input
                type="checkbox"
                name="weekDay"
                value="thursday"
                class="checkBox"
                {{checkBox}}
              />
            </label>
          </td>

          <td>
            <label for="Friday">
              <input
                type="checkbox"
                name="weekDay"
                value="friday"
                class="checkBox"
                {{checkBox}}
              />
            </label>
          </td>

          <td>
            <label for="Saturday">
              <input
                type="checkbox"
                name="weekDay"
                value="saturday"
                class="checkBox"
                {{checkBox}}
              />
            </label>
          </td>

          <td>
            <label for="Sunday">
              <input
                type="checkbox"
                name="weekDay"
                value="sunday"
                class="checkBox"
                {{checkBox}}
              />
            </label>
          </td>
        </tr>
      </tbody>
    </table>

    <button type="submit">Submit roster</button>
  </div>
</form>